name: "CI"

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

jobs:
  ci:
    name: "CI & PyPI publish"
    runs-on: "ubuntu-latest"
    permissions:
      id-token: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4.2.2"

      - name: "Set up Python"
        uses: actions/setup-python@v5.2.0
        with:
          python-version: "3.12"
          cache: "pip"

      - name: "Install requirements"
        run: python3 -m pip install -r requirements.txt

      - name: "Lint"
        run: python3 -m ruff check .

      - name: "Format"
        run: python3 -m ruff format . --check

      - name: Build packages
        run: |
          python -m build

      - name: Install package
        run: |
          python -m pip install dist/*.whl

      - name: Test package
        run: |
          python -m pytest

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.10.3
        if: contains(github.ref, 'refs/tags')
